.vscode/**
.vscode-test/**
src/**
webview/src/**
webview/node_modules/**
webview/components/**
webview/utils/**
webview/main.tsx
webview/App.tsx
webview/vite.config.ts
webview/tsconfig.json
.gitignore
.eslintrc.json
tsconfig.json
out/test/**
**/*.map
**/*.ts
!webview/dist/**
